<!-- 
    services.ejs
    Name: Sunand Shanthos Kumar
    StudentID: 301297793
    Date: 02/09/2023 
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<style>
  img {
    border: 5px solid #246ad3;
  }
  </style>
<h1>         
  <%= title %>      
  </h1>      
  <p>Welcome to <%= title %>      
  </p>      
  <p>If you need our services, kindly go through the list below for the services offered:</p>      
      

  <h5>Game Development: </h5>      
  <p>:         
  <img src="../Assets/images/Unitylogo.jpg" style="width:270px;height:170px;"
  />        
   => Unity <br>:         
  <img src=" ../Assets/images/Unreal.png" style="width:270px;height:170px;"
  />         
  => Unreal <br>:         
  <img src=" ../Assets/images/Blender.jpg" style="width:270px;height:170px;"
  />         
  => Blender <br>:         
  <img src=" ../Assets/images/Services.png" style="width:270px;height:170px;"
  />         
  => C# <br>:         
    
  </p>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




