<!-- 
    bcontact.ejs
    Name: Sunand Shanthos Kumar
    StudentID: 301297793
    Date: 03/09/2023 
-->
<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Business Page</h1>
    </div>
    <body>

      <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
        
        
        <h2>Business Contact</h2>
        
        <table>
          <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Edit</th>
          </tr>
          <tr>
            <td>Utsav Bhaktaraj</td>
            <td>7047509416</td>
            <td>Bhaktarajutsav@gamil.com</td>
            <td><button class="editbtn">Edit</button>
              <button class="editbtn">Delete</button>
            </td>

          </tr>
          <tr>
            <td>Aryan Chettri</td>
            <td>7047509416</td>
            <td>Chettriaryan@gamil.com</td>
            <td><button class="editbtn">Edit</button>
              <button class="editbtn">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Sandhya Budha</td>
            <td>4569879564</td>
            <td>sandhyabudha@gmail.com</td>
            <td><button class="editbtn">Edit</button>
              <button class="editbtn">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Kauli Budi</td>
            <td>8984516684</td>
            <td>kaulibudi@gmail.com</td>
            <td><button class="editbtn">Edit</button>
              <button class="editbtn">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Raj Rishi Khawas</td>
            <td>7895469456</td>
            <td>khawas@gmail.com</td>
            <td><button class="editbtn">Edit</button>
              <button class="editbtn">Delete</button>
            </td>
          </tr>
          <tr>
            <td>Sidhart Rai</td>
            <td>6546549895</td>
            <td>kingpooldead@gmailcom</td>
            <td><button class="editbtn">Edit</button>
              <button class="editbtn">Delete</button>
            </td>
          </tr>
        </table>
       </body>
  </main>

  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
   
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>