<!-- 
    home.ejs
    Name: Sunand Shanthos Kumar
    StudentID: 301297793
    Date: 02/09/2023 
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title    %> page</h1>
     
      <h2>Welcome to my site!</h2>
      <link rel=" shortcut icon" type="image/x-icon" href="../Assets/images/flash.jpg" />
      <p>Name: Sunand Shanthos Kumar</p>   
<p>Here is my mission statement:</p>
<p>My mission is to showcase the unique academic and personal experiences, and to provide a platform for professional development and self-expression. Through this e-portfolio, I aim to demonstrate our individual strengths, skills, and achievements, and to connect with potential employers, academic institutions, and fellow students from around the world.</p>
<p>Check out my <a href="/about">About Me</a> page to learn more about me.</p>

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




